/* SUBSCRIPTION PLAN STYLING */
.right-container {
  /* display: flex;
  justify-content: flex-end;
  margin-right: 10%;
 
  width: 30%;
  height: 550px;
  left: 1269px;
  top: 72px;
  background-color: white; */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10%;
  width: 40%;
  height: 550px;
  left: 1269px;
  top: 22px;
  background-color: white;
}

.right-container * {
  color: black;
}
.image-container {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

.image-container img {
  width: 18px;
  height: 28px;
  background: #0096ff;
  border-radius: 100px;
  margin-right: 10px;
}
.text-container {
  margin-top: 10px;
}
.header-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

  .heading {
    display: block;
    margin-top: 20px;
    font-size: 2rem;
  }





.input-field{
  margin-top: 20px;
}
.input-container1{
  display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;
isolation: isolate;
font-size: 2rem;
width: 300px;
height: 55px;

background: #E7E7E7;
border: 2px solid #BEBEBE;
border-radius: 4px;

}
.input-container2{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;
isolation: isolate;
font-size: 2rem;
width: 300px;
height: 55px;

background: #D7EDDD;
border: 2px solid #47BA68;
border-radius: 4px;
}
.input-container3{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;
font-size: 2rem;
width: 300px;
height: 55px;

border: 2px solid #BEBEBE;
border-radius: 4px;
}
.input-container4{
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;
font-size: 2rem;
width: 300px;
height: 55px;

border: 2px solid #BEBEBE;
border-radius: 4px;
}
.line{
  margin-top: 20px;
}
.footer h3{
  font-size: 1.5rem;
  margin-top: 5px;
}
.input-container5{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  gap: 12px;
  font-size: 13px;
  width: 300px;
  height: 55px;
  color: red;
  border: 2px solid #BEBEBE;
  border-radius: 4px;
  margin-top: 5px;
  }
  .gst{
    font-size: 1.5rem;
  }
  .buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }

  .button1 {
    background-color: white;
    color: red;
    font-size: 16px;
    border: 1px solid red;
    padding: 5px 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .button1:hover {
    background-color:black;
  }
  .button2 {
    background-color: #47BA68;
    color: white;
    font-size: 16px;
    border: 1px solid black;
    padding: 5px 24px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .button2:hover {
    background-color:#47BA68;
  }
  